NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=JogFnC3R95Otja3cLIITCuODQIs0xnAvmpKbVmTGw50=

GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123

NEXT_PUBLIC_API_URL=http://localhost:4000
NEST_URL=http://localhost:4000
